.game-stats {
  text-align: center;;
}

.player {
  color: #333;
  font-size: 20px;
}

.reset {
  background: #FF7474;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 3px;
  padding: 10px;
}

.buttons {
  display: flex;
  width: 560px;
  height: 80px;
  margin: 0 auto;
  margin-top: 30px;
}

.button {
  flex: 1;
  border: none;
  background: #FCFCFC;
  border-radius: 50%;
  margin: 7px;
  border: 1px dashed #333;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  outline: 0;
  box-shadow: none;
}

.y-btn:hover {
  background: #FFF974;
}

.r-btn:hover {
  background: #FF7474;
}

.game-board {
  width: 560px;
  height: 480px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 38px;
  overflow: hidden;
  box-shadow: 0 38px 38px 0 rgba(0, 0, 0, .2);
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
  background: #FFDE74;
}

.empty, .y, .r {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 50%;
  margin: 7px;
  border: 2px solid #FFDE74;
}

.y{
  border: 2px solid black;
  background: #FFF974;
}

.r {
  border: 2px solid black;
  background: #FF7474;
}

.empty {
  box-shadow: inset 0 16px 24px rgba(0, 0, 0, .2); 
}